@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{   
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

body{
    font-family: "Outfit",sans-serif;
    background-color: var(--lightGray);
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    margin: 1.25rem;
}

img{
    max-width: 100%; 
}

.container{
    background-color: var(--white);
    padding: 1.25rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
    margin-bottom: 2rem;
}

.container img{
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.container h1{
    color: var(--darkBlue);
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
}

.container p{
    color: var(--grayishBlue);
    text-align: center;
}

.attribution {
     font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:375px) {
    .container{
        width: 375px;
    }
}